
/* .container {
    display: grid;
    grid-template-columns: 400px 300px 300px 1fr ; /* Sidebar is 1 part, main is 5 parts */
    /* grid-template-rows: 1fr;
    grid-template-areas: 
     "header"
     "main"
     "main"
     "footer";
    height: 100vh; /* Full viewport height */
  