*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wallet-main{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    
}
.wallet-contain{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    height: 100vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.mywallet{
    min-height: 30%;
    max-width: 80%;
    background-color: #1A83FF;
    margin: 20px;
    border-radius: 20px;
    text-align: left;
}
.wallet-balance{
    display: flex;
    flex-direction: column;
}
.mywallet h3 {
    display: inline-block;
    color: #fff;
    padding: 20px;
    margin-right:40px;
}
.mywallet h4{
    display: inline-block;
    color: #fff;
    font-weight: 400;
    font-size: 3rem;
    font-style: normal;
    padding: 20px;
    margin-right:40px;
}
.wallet-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.wallet-buttons button{
    padding: 10px 20px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    color: #1A83FF;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 10px 20px;
    padding: 10px;
    text-align: center;
}

.wallet-buttons button:hover{
    background-color: #0d4b92;  
    transition: background-color 0.2s ease;
    border: 2px solid #fff;
    color: #fff;
}
.mywallet .icon{
    height: 2.5rem;
    background-color: transparent;
    width: 2rem;
    color: #1A83FF;
    gap: 30px;
    margin: 5px 10px;
}

.side-transaction{
 border-radius: 10px;
  background-color: #eaeaea;
  padding: 20px;

}
.paymenthistory-item{
    border-radius: 10px;
    background-color: #fff;
    margin: 10px;
    padding: 20px;
}
.icon{
    height: 2.5rem;
    background-color: transparent;
    width: 2rem;
    color: #1A83FF;
    gap: 30px;
    margin: 5px 10px;
}
.paymenthistory-details h3{
    font-size: 20px;
}
.paymenthistory-details h5{
    font-size: 12px;
    color: #1A83FF;
    text-decoration: underline;
    text-align: right;
}
.paymenthistory-details h5:hover{
   cursor: pointer;
}