.overview .overview-container {
    background-color: #fff;
    min-height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "wallet-container"
    "transaction-container";
    border-radius: 10px;
}

/* Parent container */
.wallet-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 10px;
}

/* Wallet card */
.wallet-card {
    background: linear-gradient(45deg, blue, cyan);
    height: 250px; /* Adjusted height */
    width: 350px;
    margin: 20px 10px 0px 0px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    color: #fff;
}

/* Child elements */
.wallet-content {
    display: flex;
    flex-direction: column;
    height: auto; /* Adjust height to fit content */
}

.wallet-header {
    display: flex;
    gap: 5px;
}

.wallet-card h3 {
    margin-left: 2px;
    font-size: 18px;
}

.wallet-icon {
    font-size: 1.5rem;
    color: #fff;
}

.wallet-card h2 {
    margin:5px;
    text-align: left;
    font-size: 50px;
}
.wallet-status{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items:baseline;
    margin-top: 50px;
}
.wallet-status p{
    color: #fff;
    font-size: 1rem;
}
.expense-tracker{
    background-color: #fff;
    width: 300px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.transaction-container{
    background-color: #fff;
    width: auto;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.transaction-header h3{
    font-size: 1.3rem;
    margin-left: 10px;
}
.transaction-header{
    height: 50px;
    min-width: 100%;
    align-items: center;
    margin-bottom: 0px; /* Further reduced margin */
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}
.transaction-header button{
    background-color: #1a83ff;
    color: #fff;
    font-size: 1rem;
    padding: 5px;
    width: 100px;
    height: 40px;
    margin-right: 20px;
    border: none;
    border-radius: 10px;
}
.transaction-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    height: 100%;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    
}



table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

thead th {
    font-size: 1.3rem;
  background-color: #f2f2f2;
}
tbody td{
    font-size: 1.1rem;
}